body {
  background: linear-gradient(rgba(70, 0, 70, 1), rgba(70, 0, 70, 0)) rgb(40, 0, 40) no-repeat;

}

.container {
  background-color: white;
  border-radius: 10px;
}

#stats {
	display: none;
}

.muted {
	color: #ccc;
	font-size: x-small;
}